.Entrada {
  border-left: 4px solid #03b898;
}

.Despesa {
  border-left: 4px solid rgb(216, 60, 60);
}

.listDescription {
  margin-left: 10px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.listDescription h3 {
  color: #212529;
  font-weight: 900;
}
.listDescription span {
  font-size: 12px;
  color: #868e96;
}

.date {
  font-size: 14px;
  font-weight: 900;
}

.listDescription-value {
  width: 35%;
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: space-between;
}
.listDescription-value button {
  width: 22px;
  height: 22px;
  border-radius: 2.46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #868e96;
  background-color: #e9ecef;
}
.listDescription-value p {
  color: #212529;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .trash {
    cursor: pointer;
  }
}
