.buttonHome {
    width: 64px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #E9ECEF;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 600;
    color: #5B6166;
    cursor: pointer;
    outline: none;
}